#batteryPreview {
  font-size: 170px;
}

.content {
  height: 90%;
  align-items: center;
  display: flex;
}

.danger {
  color: #c82333;
}

.warning {
  color: #d39e00;
}

.success {
  color: #218838;
}

.h-98 {
  height: 98%;
}

.h-90 {
  height: 90%;
}
